In [ ]:
#1) reverse string
user_str = input("Enter a string to reverse :") #taking user inputs

rev_str = user_str[::-1] # reversing string using slice method

print(rev_str)

In [ ]:
'''2)
Checking if a string is palindrome or not '''
palindrome_str = input("Enter a string to check palindrome or not :")#taking user inputs

new_str = palindrome_str.replace(" ","").lower() #removing spaces and converting string to lower case

str_rev = new_str[::-1] #reversing the string using slice method

if new_str == str_rev: #checking if entered string same as reversed string or not
    print("Entered string is a palindrome string")
else:
    print("Entered string is not a palindrome string")

In [ ]:
#3) Converting a string into uppercase
str_upper = input("Enter a string to convert :") #taking user inputs

'''converting string into uppercase
and printing same output'''

print(str_upper.upper())

In [ ]:
#4) Converting a string into lowercase
str_lower = input("Enter a string to convert :") #taking user inputs

'''converting string into lowercase
and printing same output'''

print(str_lower.lower())

In [ ]:
#5 counting number of vowels present in entered string
user_str = input("Enter a string: ") #taking user inputs

vowel_count = 0 #initial count value is set 0

for vowel_userSTR in user_str: #using for loop meethod to repeat same step until string ends
    if vowel_userSTR in "aeiou": # checking number of vowels
        vowel_count += 1 # vowel count will increase if vowel found
        
print(vowel_count) #printing final expected output

In [ ]:
#6) counting number of consonants
user_str = input("Enter a string:") #taking user inputs

count = 0 #initial count is zer0

for i in user_str: #using for loop to repeat same process till end of string
    if i in "bghtz": #checking required alphabets
        count += 1 #increasing count if required alphabets found
        
print(count) #printing required output

In [ ]:
#7) removing all spaces from a string
rmv_space = input("Enter a string:") #taking user inputs

'''removing spaces using replace method and
printing output in the same line of code'''
print(rmv_space.replace(" ",""))

In [ ]:
#8) length of string without using len()
user_str = input("Enter a string:")

count = 0

for i in user_str: #for loop will loop till string ends and count will add 1 everytime till string ends
    count += 1
    
print(count) # printing final expected output

In [ ]:
#9) checking specific word
user_input = input("Enter a string:")#taking user inputs

word = input("Enter a word to search in string:") #taking user search inputs

if word in user_input: #checking if required output is present or not
    print("Entered string contain", word)
else:
    print("Entered string does not contain", word)

In [ ]:
#10) checking specific word
user_input = input("Enter a string:")#taking user inputs

word = input("Enter a word to search in string:") #taking user search inputs

word1 = input("Enter a word to replace with searched word:")#taking user inputs for replace of word

if word in user_input: #checking if required output is present or not
    word1 = user_input.replace(word , word1) #replacing user word with user required word
    print("Entered string contain", word, "and new string is", word1)
else:
    print("Entered string does not contain", word)

In [ ]:
#11) count the occurences of a word in string
user_str = input("Enter a string:") #taking user inputs

search_str = input("Enter a string to search and count:") #taking user inputs to search a word

word_count = 0

words = user_str.split() #spliting words 

for word in words: #using for loop to saerch a word in a given string till string ends
    if word == search_str:
        word_count += 1
        
print(word_count)

In [ ]:
#12) Find the first occurrence of a word in a string.
user_str = input("Enter a string:")#taking user inputs

search_str = input("Enter a string to search:") #taking user inputs to search

word = user_str.find(search_str) #checking if required word present or not
if word == -1:
    print("Result not found") #if not found result will be none
else:
    print(word) # if found result will be displayed with index number

In [ ]:
#13) Find the last occurrence of a word in a string.
user_str = input("Enter a string:")#taking user inputs

search_str = input("Enter a string to search:") #taking user inputs to search

word = user_str.rfind(search_str) #checking if required word present or not in reverse way
if word == -1:
    print("Result not found") #if not found result will be none
else:
    print(word) # if found result will be displayed with index number

In [ ]:
#14) Split a string into a list of words
user_str = input("Enter a string:")

split_str = user_str.split() #spliting a string using split function

print(split_str)

In [ ]:
#15) Join a list of words into a string
user_str = ["My", "name", "is", "Sunil", "Yeligeti"]

join_str = ' '.join(user_str) #joining a list of words using join() function

print(join_str)

In [ ]:
''' 16) Convert a string where words are separated by spaces to one where words
are separated by underscores'''

user_input = input("Enter a string:")

req_str = user_input.replace(" ", "_") #replacing spaces by underscore using replace() function

print(req_str)

In [ ]:
#17) Check if a string starts with a specific word or phrase

user_input = input("Enter a string:")

new_str = input("Enter a string to check if given string starts with this string or not:")

req_str = user_input.startswith(new_str) #checking if given string start with required string or not

if req_str == True:
    print("The text starts with" , new_str)

else:
    print("The text does not starts with" , new_str)

In [ ]:
#18) Check if a string ends with a specific word or phrase

user_input = input("Enter a string:")

new_str = input("Enter a string to check if given string starts with this string or not:")

req_str = user_input.endswith(new_str) #checking if given string ends with required string or not

if req_str == True:
    print("The text starts with" , new_str)

else:
    print("The text does not starts with" , new_str)

In [ ]:
#19) Convert a string to title case

user_str = input("Enter a string to convert into title case:")

print(user_str.title()) #using title function

In [ ]:
#20) Find the longest word in a string.

user_str = input("Enter a string:")

user_str_split = user_str.split() #splitting words using split() function

long_str = "" 

word_len = 0

for word in user_str_split:
    if len(word) > word_len:
        word_len = len(word)
        long_str = word
        
print (long_str)

In [ ]:
#21) Find the shortest word in a string

user_str = input("Enter a string:")

user_str_split = user_str.split()

long_str = None

word_len = float("inf") #assigning a largest value

for word in user_str_split:
    if len(word) < word_len:
        word_len = len(word)
        long_str = word

print (long_str)

In [ ]:
#22) Reverse the order of words in a string
user_str = input("Enter a string:") #taking user inputs

split_str = user_str.split(' ') #splitting user inputs using split()

rev_str = ' '.join(reversed(split_str)) #joining splitted str using join() and reversing a splitted str

print(rev_str)

In [ ]:
#23) Check if a string is alphanumeric.

user_str = input("Enter a string:")

new_str = user_str.isalnum()#checking the given str is alphanumeric or not using isalnum()

if new_str: #if a new_str is true then it will return below statement else it will return next statement
    print("Enter string is an alphanumeric") 
else:
    print("Enter string is not an alphanumeric")

In [ ]:
#24) Extract all digits from a string

user_str = input("Enter a string:")

count = "" #initinal count is null and will be string not a int so we are not assigning zero

for i in user_str: #using for loop to iterate entire string
    if i.isdigit(): #checking if user data contains any numbers
        count += i # count will strore if number found and repeat till string ends
print(count)

In [ ]:
#25) Extract all alphabets from a string

user_str = input("Enter a string:")

count = "" #initial count is null and will be string not a int so we are not assigning zero

for i in user_str: #using for loop to iterate entire string
    if i.isalpha(): #checking if user data contains any alphabets
        count += i # count will strore if alphabet found and repeat till string ends
print(count)

In [ ]:
#26) Count the number of uppercase letters in a string

user_str = input("Enter a string:")

count = 0 #initial count is 0

for i in user_str: #using for loop to iterate entire string
    if i.isupper(): #checking if user data contains any uppercase letters
        count += 1 #count will increase by 1 if uppercase word found
print(count)

In [ ]:
#27) Count the number of lowercase letters in a string

user_str = input("Enter a string:")

count = 0 #initial count is 0

for i in user_str: #using for loop to iterate entire string
    if i.islower(): #checking if user data contains any lowercase letters
        count += 1 #count will increase by 1 if lowercase word found
print(count)

In [ ]:
#28) Swap the case of each character in a string

user_str = input("Enter a string:")

swap_str = user_str.swapcase() #swapping each word case by using swapcase()

print(swap_str)

In [ ]:
#29) Remove a specific word from a string

user_str = input("Enter a string:") #taking user values

req_str = input("Enter a word to remove from string:") # taking user inputs for word to remove

new_str = user_str.split() #splitting entered string into pieces using split()

count = "" #declaring count as nil string

for i in new_str: #using for loop to iterate till string ends
    if req_str == i: #if user entered remove word is matching with user string then it will be true and execute below
        new_str.remove(i) #it will remove particular word if found
        count = ' '.join(new_str) #joining original string pieces into string using join() without user required word
    else:
        count = user_str
print(count)

In [ ]:
#30) Check if a string is a valid email address

import re  # Import the regular expression module

user_str = input("Enter an email address:")

pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation

if re.match(pattern, user_str):
    print("Entered email address is valid")
else:
    print("Entered email address is not valid")

In [ ]:
#31) Extract the username from an email address string

user_str = input("Enter an email address:")

new_str = user_str.split('@')[0] # Splitting the email address at @ and take the first index word

print(new_str)

In [ ]:
#32) Extract the domain name from an email address string

user_str = input("Enter an email address:")

new_str = user_str.split('@')[1] # Splitting the email address at @ and take the second index word

print(new_str)

In [ ]:
#33) Replace multiple spaces in a string with a single space

user_str = input("Enter a string:")

new_str = user_str.split() #first we split the spring, so while splitting only words will get spliced

final = ' '.join(new_str) #join the string using join()

print(final)

In [ ]:
#34) Check if a string is a valid URL

import re # Import the regular expression module

user_str = input("Enter a valid URL:")

# findall() function used with the conditions which is valid for url in the strings
regex= 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
checkURL= re.findall(regex,user_str)

if checkURL:
    print(''.join(checkURL)) #using join() to print output as string
else:
    print("URL is not valid")

In [ ]:
#35 Extract the protocol (http or https) from a URL string

user_str = input("Enter a valid URL:")

new_str = user_str.split('://')[0] # Splitting the URL address at :// and take the first index word

print(new_str)

In [ ]:
#36) Find the frequency of each character in a string

user_str = input("Enter a string:")

count = {}  # Create an empty dictionary to store character frequencies

for i in user_str:
    if i in count:
        count[i] += 1  # Increase the count if the character is already in the dictionary
    else:
        count[i] = 1   # Initialize the count to 1 if the character is not in the dictionary
    
for key, value in count.items(): #separating each keys and values
    print(f"Character: '{key}', Frequency: {value}")

In [ ]:
#37) Remove all punctuation from a string

user_str = input("Enter a string:") # taking user inputs

print("The original string is : " + test_str) # printing original string

punctuation_word = '''!()-[]{};:'"\,<>./?@#$%^&*_~''' # initializing punctuations string
 
# Removing punctuations in string
# Using loop + punctuation string
for ele in user_str:
    if ele in punctuation_word:
        user_str = user_str.replace(ele, "")

print("The string after punctuation filter : " + test_str) #printing required result

In [ ]:
#38) Check if a string contains only digits

user_str = input("Enter a string:")

result_str = user_str.isdigit() #check if user string is only numbers or not using isdigit()

if result_str:
    print("Enter string contains only digits")
else:
    print("Enter string does contains alphanumeric")

In [ ]:
#39) Check if a string contains only alphabets

user_str = input("Enter a string:")

result_str = user_str.isalpha() #check if user string is only alphabets or not using isalpha()

if result_str:
    print("Enter string contains only alphabets")
else:
    print("Enter string does contains alphanumeric")

In [ ]:
#40) Convert a string to a list of characters

user_str = input("Enter a string:")

list_str = list(user_str) #

print(list_str)

In [ ]:
#41) Check if two strings are anagrams

#taking user inputs
user_str1 = input("Enter string 1:")

user_str2 = input("Enter string 2:")
'''removing spaces using replace function
making all cases to lower case using lower function
sorting each alphabets using sorted function'''
req_str1 = sorted(user_str1.replace(" ","").lower())
req_str2 = sorted(user_str2.replace(" ","").lower())

if req_str1 == req_str2:
    print(user_str1, "and", user_str2, "are anagrams")
else:
    print(user_str1, "and", user_str2, "are not anagrams")

In [ ]:
#42) Encode a string using a Caesar cipher

user_str = input("Enter a string:")

shift_nbr = int(input("Enter a number to shift: "))

encryption = ""

for i in user_str:
    # check if character is an uppercase letter
    if i.isupper():
        # find the position in 0-25
        i_unicode = ord(i)
        i_index = ord(i) - ord("A")
        # perform the shift
        new_index = (i_index + shift_nbr) % 26
        # convert to new character
        new_unicode = new_index + ord("A")
        new_character = chr(new_unicode)
        # append to encrypted string
        encryption = encryption + new_character
    else:
        # since character is not uppercase, leave it as it is
        encryption += i
        
print("Plain text:",user_str)
print("Encrypted text:",encryption)

In [ ]:
#43) Decode a Caesar cipher encoded string

ciper_str = input("Enter a string:")

shift_nbr = int(input("Enter a number to shift: "))

decryption = ""

for i in ciper_str:
    # check if character is an uppercase letter
    if i.isupper():
        # find the position in 0-25
        i_unicode = ord(i)
        i_index = ord(i) + ord("A")
        # perform the shift
        new_index = (i_index - shift_nbr) % 26
        # convert to new character
        new_unicode = new_index + ord("A")
        new_character = chr(new_unicode)
        # append to decrypted string
        decryption = decryption + new_character
    else:
        # since character is not uppercase, leave it as it is
        decryption += i
        
print("Ciper text:",ciper_str)
print("Decrypted text:",decryption)

In [ ]:
#44) Find the most frequent word in a string

user_str = input("Enter a string:")

punctuation_word = '''!()-[]{};:'"\,<>./?@#$%^&*_~''' # initializing punctuations string
#first we remove punctuations if any
for ele in user_str:
    if ele in punctuation_word:
        user_str = user_str.replace(ele, "")
        
#split the punctuation cleared string into list using split()
split_str = user_str.split()
count_str = [] #initialise empty list
for i in split_str: #using for loop to iterate entire string
    new_str = split_str.count(i) #checking word count 
    count_str.append(new_str) #adding word count to empty list
    
word_index = count_str.index(max(count_str)) 
modified_word = split_str[word_index]

print("The most frequent word in a string:",modified_word)

In [ ]:
#45) Find all unique words in a string

user_str = input("Enter a string:")

punctuation_word = '''!()-[]{};:'"\,<>./?@#$%^&*_~''' # initializing punctuations string
#first we remove punctuations if any
for ele in user_str:
    if ele in punctuation_word:
        user_str = user_str.replace(ele, "")
        
'''split the user string and convert to set
set will delete repeated words'''
set_str = set(user_str.split())

print("Unique words from an entered string:",set_str)

In [ ]:
#46) Count the number of syllables in a string

user_str = input("Enter a string: ") #taking user inputs

vowel_count = 0 #initial count value is set 0

for vowel_userSTR in user_str: #using for loop meethod to repeat same step until string ends
    if vowel_userSTR in "aeiouy": # checking number of vowels including y (letter y is not strictly a vowel but behaves like one)
        vowel_count += 1 # vowel count will increase if vowel found
        
print("Syllable present in entered string is ",vowel_count) #printing final expected output

In [ ]:
#47) Check if a string contains any special characters

user_str = input("Enter a string:")

special_characters = '''!@#$%^&*()-+?_=,<>/'''

if any(c in special_characters for c in user_str):
    print("Entered string contains a special character")
else:
    print("Entered string does not contains a special character")

In [ ]:
#48) Remove the nth word from a string

user_str = input("Enter a string:")

split_str = user_str.split()

n = int(input("Enter a nth number to remove:"))

if n >= 1 and n <= len(split_str):
    # Remove the nth word by excluding it from the words list
    removed_word = split_str.pop(n - 1)

    # Join the remaining words to form the modified string
    modified_string = ' '.join(split_str)

    print("Modified string:",modified_string, "and removed word from string is",removed_word)
else:
    print("None")

In [ ]:
#49) Insert a word at the nth position in a string

#taking user inputs
user_str = input("Enter a string:")

n = int(input("Enter a nth number to remove:")) #enter index number to add word

word = input("Enter a word to add in string:") #enter a word which to be added in string

list_str = user_str.split() #converting string into list

list_str.insert(n,word) #adding a word a nth position using insert()

final_word = ' '.join(list_str)

print(final_word)

In [ ]:
#50) Convert a CSV string to a list of lists

user_str = input("Enter a string:")

csv_file = user_str.split('\n')

# Initialize an empty list to store the result
result = []

for line in csv_file:
    # Split each line into fields using comma as the delimiter
    fields = line.split(',')
    
    # Append the fields to the result list as a row
    result.append(fields)
    
for row in result:
    print(row)

In [ ]:
#51) printing list from 1 to 10 using range()
list_nbr = list(range(1, 11))

print(list_nbr)

In [ ]:
#52) getting output without using len() and using for loop
list_nbr = list(range(1, 11))
count = 0
for i in list_nbr:
    count += 1
print(count)

In [ ]:
#53) appending an element at the end of list
list_nbr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_append = 20

list_nbr.append(nbr_append)

print(list_nbr)

In [ ]:
#54) 
''' inserting an elemnet at a specific index using insert()
which needs two arguments, index number and new element '''

list_nbr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_insert = 20

list_nbr.insert(2, nbr_insert)

print(list_nbr)

In [ ]:
#55) removing an element by its value using remove()
list_nbr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_remove = 2

list_nbr.remove(nbr_remove)

print(list_nbr)

In [ ]:
#56) removing an element by its index using pop()
list_nbr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_remove_index = 2

list_nbr.pop(nbr_remove_index)

print(list_nbr)

In [ ]:
#57) checking an element present in list or not using if function
list_nbr = list(input("Entera list of numbers:"))

nbr_check = (input("Enter a number to check it exists in list or not:"))

if nbr_check in list_nbr:
    print("Entered element", nbr_check, "present in list.")

else:
    print("Entered element", nbr_check, "not present in list.")
print(list_nbr)

In [ ]:
#58) finding an index of an element using index()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_find = 3

index_output = list_nbr.index(nbr_find)

print(index_output)

In [ ]:
#59) getting the occurences of an element using count()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

nbr_find = 5

nbr_count = list_nbr.count(nbr_find)

print (nbr_count)

In [ ]:
#60) reversing a list using reverse()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_nbr.reverse()

print (list_nbr)

In [ ]:
#61) sorting a list using sort()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_nbr.sort()

print (list_nbr)

In [ ]:
#62) sorting a list in a descending order using reverse withing sort()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_nbr.sort(reverse=True)

print (list_nbr)

In [ ]:
#63) creating a list of even numbers
list_nbr = list(range(2,21,2))

print (list_nbr)

In [ ]:
#64) creating a list of odd numbers
list_nbr = list(range(1,22,2))

print (list_nbr)

In [ ]:
#65) sum of all elements in a list using sum()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_nbr = sum(list_nbr)

print (sum_nbr)

In [ ]:
#66) finding a largest element in a list using max()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10]

max_nbr = max(list_nbr)

print (max_nbr)

In [ ]:
#67) finding a smallest element in a list using min()
list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10]

min_nbr = min(list_nbr)

print (min_nbr)

In [ ]:
#68) Create a list of squares of numbers from 1 to 10

list_nbr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = [] #creating empty list

for i in list_nbr:
    new_list.append(i**2) #adding new numbers with append()
print(new_list)

In [ ]:
#69) Create a list of random numbers 
#creating a list of random numbers using import random
import random

randomlist = []

for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

In [ ]:
#70) Remove duplicates from a list.

list_nbr = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10]

new_list = list(set(list_nbr)) #using set() deletes duplicates

print(new_list)

In [ ]:
#71) Find the common elements between two lists

creating two lists
list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10]

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = [] #initial list is empty

for i in list1: #initialising i in list1
    if i in list2: #checking i in list2
        count.append(i) #if i available in list2 then i will be appended in count list
print(count)

In [ ]:
#72) Find the difference between two lists

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1)-set(list2))#checking difference using subtraction

print("Difference between two lists:", difference)

In [ ]:
#73) Merge two lists

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]
list2 = [30, 40, 50, 60, 70]

difference = (list1)+(list2)#merging two list using addition

print("Addition of two lists:", difference)

In [ ]:
#74) Multiply all elements in a list by 2.

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]

result = []

for i in list1:
    result.append(i * 10)

print(result)

In [ ]:
#75) Filter out all even numbers from a list.

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]

result = []
for i in list1:
    if i % 2 == 0:
        result.append(i)
print(result)

In [ ]:
#76) Convert a list of strings to a list of integers.

list1 = ["1", "2", "3", "4"]

list2 = [int(x) for x in list1]

print(list2)

In [ ]:
#77) Convert a list of integers to a list of strings

list1 = [1, 2, 3, 4]

list2 = [str(x) for x in list1]

print(list2)

In [ ]:
#78) Flatten a nested list.

list1 = [[1], [2, 3], [4, 5, 6, 7]]

flattened_list = []
for i in list1:
    for num in i:
        flattened_list.append(num)

print(flattened_list)

In [ ]:
#79) Create a list of the first 10 Fibonacci numbers.

list1 = [0, 1]  # Initialize the list with the first two Fibonacci numbers

for i in range(2, 10):
    list2 = list1[i - 1] + list1[i - 2]
    
    list1.append(list2)
    
print(list1)

In [ ]:
#80) Check if a list is sorted.

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]

list2 = list1[:] #assigning same list to another
list2 = list2.sort() #sorting new list

if list1 == list2: #checking if original list and sorted list are same or not
    print("Entered list is sorted list")
else:
    print("Entered list is not in sorted list")

In [ ]:
#81) Rotate a list to the left by `n` positions

list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]

nth = int(input("Enter a number to rotate letters:"))

nth = nth % len(list1)

list2 = list1[nth:] + list1[:nth]

print( list2)

In [ ]:
#82) Rotate a list to the right by `n` positions.
list1 = [1, 2, 4, 6, 5 ,3 , 2, 3, 77, 4, 5, 6, 7, 8, 9, 10, 30, 40, 66]

nth = int(input("Enter a number to rotate letters:"))

nth = nth % len(list1)

list2 = list1[-nth:] + list1[:-nth]

print( list2)

In [ ]:
#83) Create a list of prime numbers up to 50.
str_nbr = 0
max_nbr = 50

print("Prime numbers between", str_nbr, "and", max_nbr, "are:")

for num in range(str_nbr, max_nbr + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

In [ ]:
#84) Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

start = 0

end = len(my_list)

step = 3

for i in range(start, end, step):
    x = i
print(my_list[x:x+step])

In [ ]:
#85) Find the second largest number in a list.
list1 = [10, 20, 20, 4, 45, 45, 45, 46, 99, 99]

list2 = list(set(list1))

list2.sort()

print("Second largest element is:", list2[-2])

In [ ]:
#86) Replace every element in a list with its square
old = [1, 2, 3, 4, 7, 8]

new = []

for i in old:
    new.append(i**2)
print(new)

In [ ]:
#87) Convert a list to a dictionary where list elements become keys and their indices become values.
old = [1, 2, 3, 4, 7, 8]

dict1 = {}

for i in range(len(old)):
    value = old[i]
    dict1[value] = i
print(dict1)

In [ ]:
#88) Shuffle the elements of a list randomly
import random

list1 = [1,7,5,9,6,3]

random.shuffle(list1)

print(list1)

In [ ]:
#89) Create a list of the first 10 factorial numbers.
list1 = range(10)

for number in list1:
    factorial = 1
    
    for i in range(1, number + 1):
        factorial *= i
        
    print(f"Factorial of {number} is {factorial}")

In [ ]:
#90) Check if two lists have at least one element in common.
list1 = [1, 2, 3, 4, 55]
list2 = [3, 4, 90, 22]

out = any(i in list1 for i in list2)

if out:
    print("True")
else :
    print("False")

In [ ]:
#91) Remove all elements from a list.
list1 = [1, 2, 3, 4]

list1.clear()

print(list1)

In [ ]:
#92) Replace negative numbers in a list with 0.
list1 = [10, 20, 20, -55, -33, 4, 45, -5, -6, -9, 45, 45, 46, 99, 99]

for i in range(len(list1)):
    if list1[i] < 0 :
        list1[i] = 0
print(list1)

In [ ]:
#93) Convert a string into a list of words
list1 = input("Enter a string:")

list2 = list(list1)

print(list2)

In [ ]:
#94) Convert a list of words into a string.
str_usr = ['i', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'p', 'y', 't', 'h', 'o', 'n']

str_req = ''.join(str_usr)

print(str_req)

In [ ]:
#95) Create a list of the first `n` powers of 2
old = 4

new = [2 ** i for i in range(old+1)]

print(new)

In [ ]:
#96) Find the longest string in a list of strings.
list1 = ["We", "specify", "the", "value", "of", "n", "which", "indicates", "the", "number", "of", "powers", "of", "2", "to", "generate"]

count = ""

for i in list1:
    if len(i) > len(count):
        count = i
print(count)

In [ ]:
#97) Find the shortest string in a list of strings
list2 = ["Find", "the", "shortest", "string", "in", "list", "of", "strings"]

shr_str = list2[0]

for s in list2:
    if len(s) < len(shr_str):
        shr_str = s

print("Shortest string:", shr_str)

In [ ]:
#98) Create a list of the first `n` triangular numbers
user_nbr = int(input("Enter any number:"))
nums = []
num = 0

for i in range(1, user_nbr+1):
    num += i
    
    nums.append(num)
print(nums)

In [ ]:
#99) Check if a list contains another list as a subsequence
list1 = [1, 2, 3, 4, 55]
list2 = [3, 4, 55, 2]

out = all(i in list1 for i in list2)

if out:
    print("Yes, list is subsequence of other")
else :
    print("No, list is not subsequence of other")

In [ ]:
#100) Swap two elements in a list by their indices
list1 = [1, 6, 9, 12, 17]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
new_item = list1[index1]

list1[index1] = list1[index2]

list1[index2] = new_item

# Print the list after swapping
print("List after swapping elements:", list1)

In [ ]:
#101) Create a tuple with integers from 1 to 5.

tple = tuple(range(1,6))

print(tple)

In [ ]:
#102) Access the third element of a tuple.
tple = tuple(range(1,6))

print(tple[2])

In [ ]:
#103) Find the length of a tuple without using the `len()` function
tple = tuple(range(1,6))

count = 0

for i in tple:
    count += 1

print(count)

In [ ]:
#104) Count the occurrences of an element in a tuple.
tple = (1, 2, 3, 4, 5, 2)

req_value = 2

count = 0

for i in tple:
    if i == req_value:
        count += 1
print(count)

In [ ]:
#105) Find the index of the first occurrence of an element in a tuple
tple = (1, 2, 3, 4, 5, 2)

req_value = 2

count = 0

for i, k in enumerate(tple):
    if k == req_value:
        print(i)
        break #using to stop iterate if required value found

In [ ]:
#106) Check if an element exists in a tuple
tple = (1, 2, 3, 4, 5, 2)

req_value = 7

if req_value in tple:
    print("Entered element present in tuple.")
else:
    print("Entered element not present in tuple.")

In [ ]:
#107) Convert a tuple to a list
tple = (1, 2, 3, 4, 5, 2)

list1 = list(tple)

print(list1)

In [ ]:
#108) Convert a list to a tuple
list1 = [1, 2, 3, 4, 5, 2]

tple = tuple(list1)

print(tple)

In [ ]:
#109) Unpack the elements of a tuple into variables
tple = (1, 3, 5)

var1, var2, var3 = tple

print ("Variable for first value:", var1)
print ("Variable for second value:", var2)
print ("Variable for third value:", var3)

In [ ]:
#110) Create a tuple of even numbers from 1 to 10.
tple = tuple(range(2,11,2))

print(tple)

In [ ]:
#111) Create a tuple of odd numbers from 1 to 10
tple = tuple(range(1,11,2))

print(tple)

In [ ]:
#112) Concatenate two tuples
tple1 = tuple(range(1,11,2))

tple2 = tuple(range(2,11,2))

concatenate_tple = tple1 + tple2

print(concatenate_tple)

In [ ]:
#113) Repeat a tuple three times
tple1 = tuple(range(1,11,2))

repeat_tple = tple1 * 3

print(repeat_tple)

In [ ]:
#114) Check if a tuple is empty
tple1 = (1, 5, 6, 8, 8)

if tple1:
    print("Tuple is not empty.")
else:
    print("Tuple is empty")

In [ ]:
#115) Create a nested tuple
tup1 = (3, 4),
tup2 = (5, 6),
 
# printing original tuples
print("The original tuple 1 : " + str(tup1))
print("The original tuple 2 : " + str(tup2))
 
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization
new_tup = tup1 + tup2
 
# printing result
print("Tuples after Concatenating : " + str(new_tup))

In [ ]:
#116) Access the first element of a nested tuple
tple = tuple(range(10))

print(tple[0])

In [ ]:
#117) Create a tuple with a single element
tple = (1),

print(tple)

In [ ]:
#118) Compare two tuples
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

In [ ]:
#119) Delete a tuple.
tple = (1, 2, 3, 4)

del tple

print(tple)

In [ ]:
#120) Slice a tuple
tple = (1, 2, 3, 4)

tple = tple[1:3]

print(tple)

In [ ]:
#121) Find the maximum value in a tuple
tple = (1, 2, 3, 4)

tple1 = max(tple)

print(tple1)

In [ ]:
#122) Find the minimum value in a tuple.
tple = (1, 2, 3, 4)

tple1 = min(tple)

print(tple1)

In [ ]:
#123) Convert a string to a tuple of characters
str_usr = "pwskills"

tple = tuple(str_usr)

print(tple)

In [ ]:
#124) Convert a tuple of characters to a string
tple = ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

str_usr = ''.join(tple)

print(str_usr)

In [ ]:
#125) Create a tuple from multiple data types
multi_tple = ((1,9,6,7), "pwskills", True, 15.34)

print(multi_tple)

In [ ]:
#126) Check if two tuples are identical
tple1 = (1,2,3,4,5)

tple2 = (1,2,3,4)

if tple1 == tple2:
    print("Two tuples are identical.")
else:
    print("Two tuples are not identical.")

In [ ]:
#127) Sort the elements of a tuple
tple1 = (1,6,9,5,5)

tple2 = sorted(tple1)

print(tple2)

In [ ]:
#128) Convert a tuple of integers to a tuple of strings
tple1 = (1,6,9,5,5)

str_tple = tuple(map(str, tple1))

print(str_tple)

In [ ]:
#129) Convert a tuple of strings to a tuple of integers
str_tple = ('1', '6', '9', '5', '5')

tple = tuple(map(int, str_tple))

print(tple)

In [ ]:
#130) Merge two tuples
tple1 = (1,2,3,4,5)

tple2 = (1,2,3,4)

tple = tple1 + tple2

print(tple)

In [ ]:
#131) Flatten a nested tuple
tple = ((1,2,3,4,5), (1,2,3,4))

flatten_tple = []

for i in tple:
    for k in i:
        flatten_tple.append(k)

print(tuple(flatten_tple))

In [ ]:
#132) Create a tuple of the first 5 prime numbers
t = []
for i in range(2, 12):
    c = 0
    for j in range(1, i):
        if i%j == 0:
            c += 1
    if c == 1:
        t.append(i)
print(tuple(t))

In [ ]:
#133) Check if a tuple is a palindrome
tple = (1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)

tple1 = tple[::-1]

if tple == tple1:
    print("Tuple is a palindrome.")
else:
    print("Tuple is not a palindrome.")

In [ ]:
#134) Create a tuple of squares of numbers from 1 to 5
tple = (1, 2, 3, 4, 5)

tple1 = []

for i in tple:
    tple1.append(i ** 2)
print(tuple(tple1))

In [ ]:
#135) Filter out all even numbers from a tuple
tple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tple1 = []

for i in tple:
    if i%2 == 0:
        tple1.append(i)
        
print(tuple(tple1))

In [ ]:
#136) Multiply all elements in a tuple by 2
tple = (1, 2, 3, 4, 5)

tple1 = []

for i in tple:
    tple1.append(i * 2)
print(tuple(tple1))

In [ ]:
#137) Create a tuple of random numbers

import random 

randomList = [] 

for i in range(1,10):
    n = random.randint(1,30)
    randomList.append(n)
    
print(tuple(randomList))

In [ ]:
#138) Check if a tuple is sorted

tple = (6, 7, 2, 4, 9, 1) 

sorted_tple = tuple(sorted(tple)) 

if tple == sorted_tple:
    print("Entered tuple is sorted")
else:
    print("Entered tuple is not sorted")

In [ ]:
#139) Rotate a tuple to the left by `n` positions

my_tuple = (6, 4, 3, 9, 6, 2, 5, 1) 

n = 4 

rotate_tuple = my_tuple[n:] + my_tuple[:n] 

print(rotate_tuple)

In [ ]:
#140) Rotate a tuple to the right by `n` positions

my_tuple = (6, 4, 3, 9, 6, 2, 5, 1) 

n = 3 

rotate_tuple = my_tuple[-n:] + my_tuple[:-n] 

print(rotate_tuple)

In [ ]:
#141) Create a tuple of the first 5 Fibonacci numbers
# Initialize the first two Fibonacci numbers
my_tuple = (0, 1) 

# Calculate the next 3 Fibonacci numbers and add them to the tuple
for i in range(3):
    next_fibonacci = my_tuple[-2] + my_tuple[-1]
    my_tuple += (next_fibonacci,) 
    
print(my_tuple)

In [ ]:
#142) Create a tuple from user input.
my_tuple = input("Enter elements separated by comma:") 

tuple_list = my_tuple.split(',') 

tuple_tuple = tuple(tuple_list) 

print(tuple_tuple)

In [ ]:
#143) Swap two elements in a tuple
my_tuple = (6, 4, 3, 7, 9, 2, 5)
ls_tuple = list(my_tuple)
index1 = 2
index2 = 6 

temp = ls_tuple[2]
ls_tuple[2] = ls_tuple[6]
ls_tuple[6] = temp 

print (tuple(ls_tuple))

In [ ]:
#144) Reverse the elements of a tuple
my_tuple = (6, 4, 3, 7, 9, 2, 5) 

rev_tuple = my_tuple [::-1] 

print (rev_tuple)

In [ ]:
#145) Create a tuple of the first `n` powers of 2
my_tuple = (6, 4, 3, 7, 9, 2, 5)
ls_tuple = list(my_tuple)
new_list = []
for i in ls_tuple:
    list_tuple = i**2
    new_list.append(list_tuple) 
    
print (new_list)

In [ ]:
#146) Find the longest string in a tuple of strings
my_tuple = ("sunil", "Yeligeti", "pwskills2") 

long_str = ()
for i in my_tuple:
    if len(i) > len(long_str):
        long_str = i
print(long_str)

In [ ]:
#147) Find the shortest string in a tuple of strings
my_tuple = ("sunil", "Yeligeti", "pwskills2", "hi") 

short_str = my_tuple [0]
for i in my_tuple:
    if len(i) < len(short_str):
        short_str = i
print(short_str)

In [ ]:
#148) Create a tuple of the first `n` triangular numbers
n = int(input("Enter a number: "))
triangular_numbers = []
count = 0
for i in range(1, n + 1):
    count += i
    triangular_numbers.append(count) 
    
triangular_tuple = tuple(triangular_numbers)
print(triangular_tuple)

In [ ]:
#149) Check if a tuple contains another tuple as a subsequence
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)

is_subsequence = all(item in main_tuple for item in sub_tuple)

if is_subsequence:
    print("The sub_tuple is a subsequence of main_tuple.")
else:
    print("The sub_tuple is not a subsequence of main_tuple.")

In [ ]:
#150) Create a tuple of alternating 1s and 0s of length `n`.
n = 5 
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

In [ ]:
#151) Create a set with integers from 1 to 5.
set_int = set(range(1,6)) 

print(set_int)

In [ ]:
#152) Add an element to a set.
set_item = {3,6,9,2,1,5,7,4}
set_item.add(8)
print(set_item

In [ ]:
#153) Remove an element from a set.
set_item = {3,6,9,2,1,5,7,4}
set_item.remove(4)
print(set_item)

In [ ]:
#154) Check if an element exists in a set
set_item = {3,6,9,2,1,5,7,4}
req_item = 3
if req_item in set_item:
    print("Entered number exists in set")
else:
    print("Entered number not exists in set")

In [ ]:
#155) Find the length of a set without using the `len()` function
set_int = {1,2,3,4,5,6,8,9}
counter = 0
for i in set_int:
    counter = counter + 1
print(counter)

In [ ]:
#156) Clear all elements from a set
set_int = {1,2,3,4,3,25,6,7,4}
set_int.clear()
print(set_int)

In [ ]:
#157) Create a set of even numbers from 1 to 10.
set_item = {1,2,3,4,5,6,7,8, 9,10}
set_even = set()
for i in set_item:
    if i%2 == 0:
        set_even.add(i)
print(set_even)

In [ ]:
#158) Create a set of odd numbers from 1 to 10
set_item = {1,2,3,4,5,6,7,8, 9,10}
set_even = set()
for i in set_item:
    if i%2 != 0:
        set_even.add(i)
print(set_even)

In [ ]:
#159) Find the union of two sets
set1 = {1, 2, 3, 7, 4}
set2 = {3, 4, 5, 6} 

union_set = set1.union(set2) 

print("Union of set2 and set2:", union_set)

In [ ]:
#160) Find the intersection of two sets
set1 = {1, 2, 3, 7, 4}
set2 = {3, 4, 5, 6,2}
intersection_set = set()
for i in set1:
    for j in set2:
        if i == j:
            intersection_set.add(j)
print(intersection_set)

In [ ]:
#161) Find the difference between two sets
set1 = {1,2,3,4,6}
set2 = {4,5,6,3,7,9}

difference_set = set1.difference(set2)
print(difference_set)

In [ ]:
#162) Check if a set is a subset of another set
set1 = {1,2,3,4,6}
set2 = {4,5,6,3,7,9}

subset_set = set1.issubset(set2)
print(subset_set)

In [ ]:
#163) Check if a set is a superset of another set
set1 = {1,2,3,4,6}
set2 = {4,5,6,3,7,9}

superset_set = set1.issuperset(set2)
print(superset_set)

In [ ]:
#164) Create a set from a list
list1 = [3,4,5,6,2,9]

list_set = set(list1)

print(list_set)

In [ ]:
#165) Convert a set to a list.
set1 = {2, 3, 4, 5, 6, 9}

set_list = list(set1)

print(set_list)

In [ ]:
#166) Remove a random element from a set
import random

my_set = {1, 2, 3, 4, 5}

my_list = list(my_set)

if my_list:
    removed_element = random.choice(my_list)
    my_set.remove(removed_element)
    print("Updated set:", my_set)
    print("Removed element:", removed_element)
else:
    print("The set is empty.")

In [ ]:
#167) Pop an element from a set
set1 = {2, 3, 4, 5, 6, 9}

set_list = set1.pop()

print(set_list)

In [ ]:
#168) Check if two sets have no elements in common
# Example sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 3, 4, 7}

# Check if the sets have no elements in common
have_no_common_elements = set1.isdisjoint(set2)

# Print the result
if have_no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one common element.")

In [ ]:
#169) Find the symmetric difference between two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

result_set = set1.symmetric_difference(set2)

print(result_set)

In [ ]:
#170) Update a set with elements from another set
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.update(set2)

print(set1)

In [ ]:
#171) Create a set of the first 5 prime numbers
set1 = {2, 3, 5, 7, 11}

print("Set of first 5 numbers is:", set1)

In [ ]:
#172) Check if two sets are identical
set1 = {1, 2, 3, 4, 5, 7, 6}
set2 = {3, 4, 5, 6, 7, 2, 1}

if set1 == set2:
    print("Two sets are identical.")
else:
    print("Two sets are not identical.")

In [ ]:
#173) Create a frozen set
set1 = {1, 2, 3, 4, 5, 7, 6}

frozen_set = frozenset(set1)

print(frozen_set)

In [ ]:
#174) Check if a set is disjoint with another set
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have at least one common element.")

In [ ]:
#175) Create a set of squares of numbers from 1 to 5
set1 = {1, 2, 3, 4, 5}
result_list = []
for i in set1:
    result_list.append(i**2)
    result_set = set(result_list)
print(result_set)

In [ ]:
#176) Filter out all even numbers from a set
set1 = {1, 2, 3, 4, 5}
result_list = []
for i in set1:
    if i % 2 == 0:
        result_list.append(i)
print(set(result_list))

In [ ]:
#177) Multiply all elements in a set by 2
set1 = {1, 2, 3, 4, 5}
result_list = []
for i in set1:
    result_list.append(i*2)
    result_set = set(result_list)
print(result_set)

In [ ]:
#178) Create a set of random numbers
import random

random_set = set(random.sample(range(1, 11), 5))

print("Set of random numbers:", random_set)

In [ ]:
#179) Check if a set is empty
set1 = {}

if set1:
    print("The set is not empty.")
else:
    print("The set is empty.")

In [ ]:
#180) Create a nested set (hint: use frozenset)
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested set:", nested_set)

In [ ]:
#181) Remove an element from a set using the discard method
set1 = {1, 2, 3, 4, 5}

print("Elements in set before an element discarded:", set1)

set1.discard(2)
print("Elements in set after an element discarded:", set1)

In [ ]:
#182) Compare two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

In [ ]:
#183) Create a set from a string
my_string = input("Enter any string:")

my_set = set(my_string)

print("Converted set from string is", my_set)

In [ ]:
#184) Convert a set of strings to a set of integers
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_list = []
for i in set_of_strings:
    set_of_list.append(int(i))
print(set(set_of_list))

In [ ]:
#185) Convert a set of integers to a set of strings
set_of_strings = {1, 2, 3, 4, 5}
set_of_list = []
for i in set_of_strings:
    set_of_list.append(str(i))
print(set(set_of_list))

In [ ]:
#186) Create a set from a tuple
my_tuple = (4, 6, 7, 3, 2)

my_set = set(my_tuple)

print(my_set)

In [ ]:
#187) Convert a set to a tuple
my_set = {2, 3, 4, 6, 7}

my_tuple = tuple(my_set)

print(my_tuple)

In [ ]:
#188) Find the maximum value in a set
my_set = {2, 3, 4, 6, 7}

result_element = max(my_set)

print(result_element)

In [ ]:
#189) Find the minimum value in a set
my_set = {2, 3, 4, 6, 7}

result_element = min(my_set)

print(result_element)

In [ ]:
#190) Create a set from user input
user_set = set()
print("Enter elements for the set and type done to finish:")
while True:
    user_input = input(">")
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)
print("Set from a user input:",user_set)

In [ ]:
#191) Check if the intersection of two sets is empty
set1 = {2,3,4,6}
set2 = {5,7,9,8,3}

result = set1.intersection(set2)
if result:
    print("Intersection of two sets is not empty")
else:
    print("Intersection of two sets is empty")

In [ ]:
#192) Create a set of the first 5 Fibonacci numbers
fibonacci_set = set()

a, b = 0, 1
for i in range(7):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

In [ ]:
#193) Remove duplicates from a list using sets
my_list = [1, 2, 2, 3, 4, 4, 5]

result_list = list(set(my_list))

print("Original List:", my_list)
print("List with Duplicates Removed:", result_list)

In [ ]:
#194) Check if two sets have the same elements, regardless of their count
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("Two sets have common elements")
else:
    print("Two sets dont have any common elements")

In [ ]:
#195) Create a set of the first `n` powers of 2
n = int(input("Enter any number:"))
power_of_2_set = []
for i in range(n):
    power_of_2_set.append(i ** 2)
    
list_to_set = set(power_of_2_set)
print(f"Set of the first {n} powers of 2:", list_to_set)

In [ ]:
#196) Find the common elements between a set and a list
my_set = {2,3,4,6,9}

my_list = [7,9,5,1,3]

result = set(my_list).intersection(my_set)
if result:
    print("Common elements between a set and a list:", result)
else:
    print("No common elements between a set and a list.")

In [ ]:
#197) Create a set of the first `n` triangular numbers
n = int(input("Enter a number: "))
triangular_numbers = []
count = 0
for i in range(1, n + 1):
    count += i
    triangular_numbers.append(count) 
    
triangular_set = set(triangular_numbers)
print(triangular_set)

In [ ]:
#198) Check if a set contains another set as a subset
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

is_subset = set2.issubset(set1)

print("Is set2 a subset of set1?", is_subset)

In [ ]:
#199) Create a set of alternating 1s and 0s of length `n`
n = 5
empty_add = set()
for i in range(n):
    if i%2 == 0:
        empty_add.add(1)
    else:
        empty_add.add(0)
print(empty_add)

In [ ]:
#200) Merge multiple sets into one
set1 = {1, 3, 4, 6}
set2 = {4, 6, 9, 12, 55}
set3 = {13, 14, 16, 23}

result = set1.union(set2, set3)

print("Result of multiple merged sets:", result)